services:
  api_calculator:
    image: imagen_apis                       #Previamente construida con el Dockerfile
    working_dir: /api_service
    container_name: contenedor_api
    volumes:
      - volumen_compartido:/shared_data       #Montamos el volumen compartido
    restart: unless-stopped                   #Se auto-levanta si se para

  streamlit_app:
    image: streamlit_image
    working_dir: /frontend_service
    container_name: contenedor_frontend
    volumes:
      - volumen_compartido:/shared_data       #Comparte el volumen con el backend
    depends_on:
      - api_calculator                        #Asegura que el backend arranque primero
    ports:
      - "8501:8501"                           #Expone el puerto de Streamlit
    restart: unless-stopped

#Declaramos el volumen compartido con nombre volumen_compartido
volumes:
  volumen_compartido:
